<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cities</key>
	<array>
		<dict>
			<key>name</key>
			<string>Hong Kong</string>
			<key>country</key>
			<string>China</string>
			<key>time_zone</key>
			<integer>28800</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/hong-kong/hong-kong-island/hong-kong-2165352/</string>
			<key>image</key>
			<string>hong_kong.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>New York City</string>
			<key>country</key>
			<string>United States</string>
			<key>time_zone</key>
			<integer>-18000</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/united-states/new-york/new-york-2459115/</string>
			<key>image</key>
			<string>new_york_city.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Singapore</string>
			<key>country</key>
			<string>Singapore</string>
			<key>time_zone</key>
			<integer>28800</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/singapore/singapore/singapore-1062617/</string>
			<key>image</key>
			<string>singapore.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Moscow</string>
			<key>country</key>
			<string>Russia</string>
			<key>time_zone</key>
			<integer>10800</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/russia/moscow-federal-city/moscow-2122265/</string>
			<key>image</key>
			<string>moscow.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Seoul</string>
			<key>country</key>
			<string>South Korea</string>
			<key>time_zone</key>
			<integer>32400</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/south-korea/seoul/seoul-1132599/</string>
			<key>image</key>
			<string>seoul.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Dubai</string>
			<key>country</key>
			<string>United Arab Emirates</string>
			<key>time_zone</key>
			<integer>14400</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/united-arab-emirates/dubai/dubai-1940345/</string>
			<key>image</key>
			<string>dubai.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chicago</string>
			<key>country</key>
			<string>United States</string>
			<key>time_zone</key>
			<integer>-21600</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/united-states/illinois/chicago-2379574/</string>
			<key>image</key>
			<string>chicago.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shangai</string>
			<key>country</key>
			<string>China</string>
			<key>time_zone</key>
			<real>28800</real>
			<key>link</key>
			<string>https://weather.yahoo.com/china/shanghai/shanghai-2151849/</string>
			<key>image</key>
			<string>shanghai.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sao Paulo</string>
			<key>country</key>
			<string>Brazil</string>
			<key>time_zone</key>
			<integer>-10800</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/brazil/sao-paulo/sao-paulo-455827/</string>
			<key>image</key>
			<string>sao_paulo.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bangkok</string>
			<key>country</key>
			<string>Thailand</string>
			<key>time_zone</key>
			<integer>25200</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/thailand/bangkok/bangkok-1225448/</string>
			<key>image</key>
			<string>bangkok.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Tokyo</string>
			<key>country</key>
			<string>Japan</string>
			<key>time_zone</key>
			<integer>32400</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/japan/tokyo-prefecture/tokyo-1118370/</string>
			<key>image</key>
			<string>tokyo.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guangzhou</string>
			<key>country</key>
			<string>China</string>
			<key>time_zone</key>
			<real>28800</real>
			<key>link</key>
			<string>https://weather.yahoo.com/china/guangdong/guangzhou-2161838/</string>
			<key>image</key>
			<string>guangzhou.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Busan</string>
			<key>country</key>
			<string>South Korea</string>
			<key>time_zone</key>
			<integer>32400</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/south-korea/busan/busan-1132447/</string>
			<key>image</key>
			<string>busan.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Toronto</string>
			<key>country</key>
			<string>Canada</string>
			<key>time_zone</key>
			<integer>-18000</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/canada/ontario/toronto-4118/</string>
			<key>image</key>
			<string>toronto.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Shenzhen</string>
			<key>country</key>
			<string>China</string>
			<key>time_zone</key>
			<real>28800</real>
			<key>link</key>
			<string>https://weather.yahoo.com/china/guangdong/shenzhen-2161853/</string>
			<key>image</key>
			<string>shenzhen.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Incheon</string>
			<key>country</key>
			<string>South Korea</string>
			<key>time_zone</key>
			<integer>32400</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/south-korea/incheon/incheon-1132496/</string>
			<key>image</key>
			<string>incheon.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Chongqing</string>
			<key>country</key>
			<string>China</string>
			<key>time_zone</key>
			<real>28800</real>
			<key>link</key>
			<string>https://weather.yahoo.com/china/chongqing/chongqing-2158434/</string>
			<key>image</key>
			<string>chongqing.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Panama City</string>
			<key>country</key>
			<string>Panama</string>
			<key>time_zone</key>
			<integer>-18000</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/panama/panama/panama-city-159386/</string>
			<key>image</key>
			<string>panama_city.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mumbai</string>
			<key>country</key>
			<string>India</string>
			<key>time_zone</key>
			<integer>19800</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/india/maharashtra/mumbai-2295411/</string>
			<key>image</key>
			<string>mumbai.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Kuala Lumpur</string>
			<key>country</key>
			<string>Malaysia</string>
			<key>time_zone</key>
			<real>28800</real>
			<key>link</key>
			<string>https://weather.yahoo.com/malaysia/kuala-lumpur/kuala-lumpur-1154781/</string>
			<key>image</key>
			<string>kuala_lumpur.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Istanbul</string>
			<key>country</key>
			<string>Turkey</string>
			<key>time_zone</key>
			<integer>7200</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/turkey/istanbul/istanbul-2344116/</string>
			<key>image</key>
			<string>istanbul.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Jakarta</string>
			<key>country</key>
			<string>Indonesia</string>
			<key>time_zone</key>
			<integer>25200</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/indonesia/jakarta-raya/jakarta-1047378/</string>
			<key>image</key>
			<string>jakarta.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Beijing</string>
			<key>country</key>
			<string>China</string>
			<key>time_zone</key>
			<real>28800</real>
			<key>link</key>
			<string>https://weather.yahoo.com/china/beijing/beijing-2151330/</string>
			<key>image</key>
			<string>beijing.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Osaka</string>
			<key>country</key>
			<string>Japan</string>
			<key>time_zone</key>
			<integer>32400</integer>
			<key>link</key>
			<string>https://weather.yahoo.com/japan/osaka-prefecture/osaka-shi-15015370/</string>
			<key>image</key>
			<string>osaka.jpg</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Macau</string>
			<key>country</key>
			<string>China</string>
			<key>time_zone</key>
			<real>28800</real>
			<key>link</key>
			<string>https://weather.yahoo.com/macau/macau/macau-1887901/</string>
			<key>image</key>
			<string>macau.jpg</string>
		</dict>
	</array>
</dict>
</plist>
